{% extends "_template.html.twig" %}
{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <style>
        #calendrier{
            width: 100%
        }
    </style>
{% endblock %}
{% block content %}
{% include 'includes/flash.html.twig' %}
<h1>Planning</h1>
<div id="calendrier"></div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js" integrity="sha256-oenhI3DRqaPoTMAVBBzQUjOKPEdbdFFtTCNIosGwro0=" crossorigin="anonymous"></script>
    <script>
        //Calendar
         document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendrier');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale: 'fr',
          timeZone: 'Europe/Paris',
          headerToolbar: {
              start: 'prev,next',
              center: 'title',
              end: 'dayGridMonth,timeGridWeek'
          },
          events: {{ data|raw }},
          editable: true,
          eventResizableFromStart: true,
          dayMaxEvent: true,
          eventClick: function(data){
              var eventObj = data.event;
              var url = `shoot/${data.event.id}`
              window.open(url, '_self');
          }
          
        });

        //Modification dynamique
        calendar.on('eventChange', (e) => {
            var url = `/api/${e.event.id}/edit`
            var donnees = {
                "title": e.event.title,
                "start": e.event.start,
                "plateform": e.event.extendedProps.plateform,
                "campagne": e.event.extendedProps.campagne,
                "routeur": e.event.extendedProps.routeur,
                "volume": e.event.extendedProps.volume,
                "annonceur": e.event.extendedProps.annonceur
            }
            var xhr = new XMLHttpRequest

            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
        })

        calendar.render();
      });
    </script>
{% endblock %}
