{% extends '_template.html.twig' %}

{% block title %}
    Créer une Routeur
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Créer une Routeur</h1>

        {{ form_start(routeurForm) }}

        {{ form_row(routeurForm.nom, {label: "Nom du Routeur"}) }}

        <button type="submit" class="btn btn-primary fullwidth">
            Créer
        </button>
        {{ form_end(routeurForm) }}
    </div>
{% endblock %}