{% extends '_template.html.twig' %}

{% block title %}
    Modifier une Plateform
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Modifier une Plateform</h1>

        {{ form_start(plateformForm) }}

        {{ form_row(plateformForm.nom, {label: "Nom de la plateform"}) }}

        <button type="submit" class="btn btn-primary fullwidth">
            Enregistrer
        </button>
        {{ form_end(plateformForm) }}
    </div>
{% endblock %}